<main class="container">

    <h1 class="text-center">Medilook - Venta de uniformes médicos</h1>
    <div id="products-container" class="row d-flex justify-content-center"></div>

</main>
<script src="/socket.io/socket.io.js"></script>
<script src="./home.js"></script>